
<div class="sidenav mt-5">
        <a style="font-size: 35px" class="float-right"><i class="	fas fa-align-justify"></i></a> <br> <br> <br> <br>
        <div class="user-img">
            <img src="../../assets/images/bootstrap-stack.png" alt="bootstrap" width="70px">
            <p mt-2>
                bootstrap
            </p>
        </div> <br> <br> <br>
        <a><i class="fas fa-home"></i> Home</a>
        <a><i class="fas fa-user"></i> Employee</a>
        <a><i class="	fas fa-file"></i> Projects</a>
        <a><i class="fas fa-pen"></i> Skill</a>
        <a><i class="fas fa-user-graduate"></i> Interns</a>
        <a ><i class="fas fa-bookmark"></i> Topics</a>
        <a ><i class="fas fa-book"></i> Courses</a>
        <a><i class="fas fa-bookmark"></i>  Topic_Course</a>
        <a><i class="fas fa-folder-open"></i> Classes</a>
      </div>
      
      <div class="main mt-5">
        <div><a routerLink="/ex5">Home</a>/Skills</div>
        <br> 
        <nav class="navbar navbar-light bg-light">    
            Show:
            <div class="fixed">
                <select class="form-control ml-5">
                    <option  *ngFor="let employee of listEmployees">{{employee.id}}</option>
                </select>
            </div>
            
            <form class="form-inline">
                <button class="btn btn-primary mr-2">Excel</button>
                <button class="btn btn-primary">PDF </button>
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              <button class="btn btn-primary add-employee ml-2"> + Add Employee </button>
            </form>
          
          </nav>
          <table class="table table-bordered">
              <thead>
                  <th>ID</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th>Action</th>
              </thead>
              <tbody *ngFor='let employee of listEmployees'>
                  <tr>
                      <td>{{ employee.id }}</td>
                      <td>{{ employee.firstName }}</td>
                      <td>{{ employee.lastName }}</td>
                      <td>{{ employee.email }}</td>
                      <td>
                          <i class="fas fa-exclamation mr-3"></i>
                          <i class="fas fa-pencil-alt mr-3"></i>
                          <i class="fas fa-trash-alt mr-1"></i>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
