<div class="card mt-5 mb-5">
    <div class="card-header">
        {{name}}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
        <strong>Name :</strong> {{name}} <br>
        <strong>Code :</strong> {{code}} <br>
        <strong>Description :</strong> {{Description}} <br>
        <strong>availability :</strong> {{availability}} <br>
        <strong>Price :</strong> {{Price}} <br>
        <strong>5 Strang Rating :</strong> {{star}} <br>
        </div>
        <div class="col">
            <img src="../../assets/images/leaf-rake.jpg" alt="Leaf-rake">
        </div>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn"><i class="fas fa-backward"></i> Back</button>
    </div>
</div>

